{% extends '::base.html.twig' %}

{% block body %}

<div class="container">

    {% include "InnovaLearningPathBundle::Step/left-sidebar.html.twig" %}
    {% include "InnovaLearningPathBundle::Step/right-sidebar.html.twig" %}

    <select name="view-choice">
        <option selected value="Vue concepteur">Vue concepteur</option>
        <option value="Vue enseignant">Vue enseignant</option>
        <option value="Vue tuteur">Vue tuteur</option>
        <option value="Vue Apprenant">Vue Apprenant</option>
    </select>
    <div class="row">
        <div class="span12 parcoursTree">
            <div class="row">
                <div class="span12" id="title_test_bob">
                    <h3>Parcours :</h3>
                </div>
            </div>
            <div class="row">
                <div id="header_test_bob" class="span12">
                        <form action="{{path("redirectpathedit")}}" method="post" accept-charset="utf-8" id="form_test_bob">
                            <select name="path-id" id="path-id">
                                {% for path in paths %}
                                    <option value="{{ path.id }}">{{ path.name }}</option>
                                {% endfor %}
                            </select>
                        <input type="submit" class="btn clickParcoursTree">

                    </form>
                </div>
            </div>
            <div class="well ">
                <div id="left_tree">
                    {% if root is defined %}
                        <h4>{{ root.name }}</h4>
                        <ul class="sortable tree ui-sortable">
                            {% include "InnovaLearningPathBundle:Step:includes/list-item.html.twig" with {'steps': root.children } only %}
                        </ul>
                    {% endif %}

                </div>
                
            </div>
            <button id="save" class="btn pull-right">Save</button>
        </div>
        <div class="span6 ressourcesTypes">
            <h3>Ressources types :</h3>
            <h4 class="nameRessourcesTypes">Test1</h4>
            <h4 class="accordionButton on ressourceTitle well otherss"><i class="icon-chevron-up pull-right"></i>Qui </h4>
            <div class="accordionContent">
                <div class="well otherss">
                    <ul class="tree_abstract">
                        <li class="ressourcesTypes-item"><i class="icon-user"></i>Professeur</li>
                    </ul>
                    <!-- <a href="#" title="" class="btn pull-right"><i class="icon-plus"></i>Ajouter</a> -->
                </div>     
            </div>

            <h4 class="accordionButton on ressourceTitle well otherss"><i class="icon-chevron-up pull-right"></i>Pour qui</h4>
            <div class="accordionContent">
                <div class="well otherss">
                    <ul class="tree_abstract">
                        <li class="ressourcesTypes-item"><i class="icon-user"></i>Classe</li>
                        <li class="ressourcesTypes-item"><i class="icon-user"></i>Eleve</li>
                        <li class="ressourcesTypes-item"><i class="icon-user"></i>Binome</li>
                    </ul>  

                </div> 
            </div>

            <h4 class="accordionButton on ressourceTitle well otherss"><i class="icon-chevron-up pull-right"></i>Lieux</h4>
            <div class="accordionContent">
                <div class="well otherss">
                    <ul class="tree_abstract">
                        <li class="ressourcesTypes-item"><i class="icon-home"></i>Labo</li>
                        <li class="ressourcesTypes-item"><i class="icon-home"></i>Classe</li>
                        <li class="ressourcesTypes-item"><i class="icon-home"></i>Dehors</li>
                    </ul>

                </div>
            </div>

            <h4 class="accordionButton on ressourceTitle well otherss"><i class="icon-chevron-up pull-right"></i>Outils</h4>
            <div class="accordionContent">
                <div class="well otherss">
                    <ul class="tree_abstract">
                        <li class="ressourcesTypes-item"><i class="icon-wrench"></i>Video projecteur</li>
                        <li class="ressourcesTypes-item"><i class="icon-wrench"></i>Couteau</li>
                    </ul>

                </div>
            </div>

            <h4 class="accordionButton on ressourceTitle well otherss"><i class="icon-chevron-up pull-right"></i>Ressources fournies</h4>
            <div class="accordionContent">
                <div class="well otherss">
                    <ul class="tree_abstract">
                        <li class="ressourcesTypes-item"><i class="icon-envelope"></i>Journal</li>
                        <li class="ressourcesTypes-item"><i class="icon-envelope"></i>Plan</li>
                    </ul>

                </div>
            </div>

            <h4 class="accordionButton on ressourceTitle well otherss"><i class="icon-chevron-up pull-right"></i>Ressources produites</h4>
            <div class="accordionContent">
                <div class="well otherss">
                    <ul class="tree_abstract">
                        <li class="ressourcesTypes-item"><i class="icon-film"></i>Synthèse</li>
                        <li class="ressourcesTypes-item"><i class="icon-film"></i>Rapport</li>
                    </ul>

                </div>
             </div>
        </div>
        <div class="span4 ressourcesReelles">
            <h3>Ressources réelles :</h3>
            <h4 class="nameRessourcesReelles">Test2</h4>
            <div class="well otherss">
                <ul class="concrete">
                    <li><i class="icon-film"></i> Fichier vidéo</li>
                    <li><i class="icon-music"></i> Fichier audio</li>
                    <li><i class="icon-picture"></i> Fichier image</li>
                    <li><i class="icon-file"></i> Fichier texte</li>
                    <li><i class="icon-print"></i> Fichier PDF</li>
                    <li><i class="icon-globe"></i> Lien</li>
                </ul>
                <input type="file">
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/innovalearningpath/js/accordeon.js') }}"></script>
    <script src="{{ asset('bundles/innovalearningpath/js/select2.js') }}"></script>
{% endblock %}
{% endblock %}
