{% extends '::base.html.twig' %}

{% block body %}

<div class="container">

    {% include "InnovaLearningPathBundle::Step/left-sidebar.html.twig" %}
    {% include "InnovaLearningPathBundle::Step/right-sidebar.html.twig" %}

    <select name="view-choice">
        <option selected value="Vue concepteur">Vue concepteur</option>
        <option value="Vue enseignant">Vue enseignant</option>
        <option value="Vue tuteur">Vue tuteur</option>
        <option value="Vue Apprenant">Vue Apprenant</option>
    </select>
    <div class="row">
        <div class="span12 parcoursTree">
            <div class="row">
                <div class="span12" id="title_test_bob">
                    <h3>Parcours :</h3>
                </div>
            </div>
            <div class="row">
                <div id="" class="span12">
                        <form action="{{path("redirectpathedit")}}" method="post" accept-charset="utf-8" id="form_test_bob">
                            <select name="path-id" id="path-id">
                                {% for path in paths %}
                                    <option value="{{ path.id }}">{{ path.name }}</option>
                                {% endfor %}
                            </select>
                        <input type="submit" class="btn clickParcoursTree">
                    </form>


                </div>
            </div>
            <div class="well">
                    <button id="save" class="btn btn-primary pull-right">Sauvegarder</button>
                    <span id="save_callback" class="notifications top-left"></span>

                    <!--<button id="back" class="btn pull-right">Back</button>-->
                <div id="left_tree">
                    {% include "InnovaLearningPathBundle:Step:includes/path-tree.html.twig" %}
                </div>
            </div>
        </div>

        <div class="span6 ressourcesTypes">
            <h3>Ressources types :</h3>
            <h4 class="nameRessourcesTypes"></h4>

            <div id="abstractRessourcesDisplay">

            </div>

        </div>


        <div class="span4 ressourcesReelles">
            <h3>Ressources réelles :</h3>
            <h4 class="nameRessourcesReelles"></h4>
            <div class="well" id="concreteRessourcesDisplay">
                <!-- <ul class="concrete">
                    <li><i class="icon-film"></i> Fichier vidéo</li>
                    <li><i class="icon-music"></i> Fichier audio</li>
                    <li><i class="icon-picture"></i> Fichier image</li>
                    <li><i class="icon-file"></i> Fichier texte</li>
                    <li><i class="icon-print"></i> Fichier PDF</li>
                    <li><i class="icon-globe"></i> Lien</li>
                </ul>
                <input type="file"> -->
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/innovalearningpath/js/accordeon.js') }}"></script>
    <script src="{{ asset('bundles/innovalearningpath/js/select2.js') }}"></script>
{% endblock %}
{% endblock %}
