<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
        {% block stylesheets %}
            <link href="{{ asset('bundles/innovalearningpath/css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/innovalearningpath/css/select2.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="row">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="#">INNOVA Langues</a>
                        <ul class="nav">
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Navigation <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Accueil</a></li>
                                    <li><a href="#">Mon bureau</a></li>
                                    <li><a href="#">Mon espace ressources</a></li>
                                    <li><a href="#">Mon espace formation</a></li>
                                    <li><a href="#">Mon espace portefolio</a></li>
                                    <li><a href="#">Mon espace SELF</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Prénom - Nom (Tuteur) <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="switch_fs">Plein écran</a></li>
                                    <li><a href="#">Mon profil</a></li>
                                    <li><a href="#">Changer de statut</a></li>
                                    <li><a href="#">Outils auteur</a></li>
                                    <li><a href="#">Déconnexion</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% block body %}{% endblock %}

        <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ asset('js/fos_js_routes.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{ asset('bundles/innovalearningpath/js/jquery.fullscreen.js') }}"></script>
         <script src="{{ asset('bundles/innovalearningpath/js/select2.js') }}"></script>
        <script type="text/javascript">
            var base_path = Routing.getBaseUrl().replace(/\w+\.php$/gi,'');
        </script>
        <script src="{{ asset('bundles/innovalearningpath/js/tree.js') }}"></script>
        <script src="{{ asset('bundles/innovalearningpath/js/ul2json.js') }}"></script>
        <script src="{{ asset('bundles/innovalearningpath/js/script.js') }}"></script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
