{% extends 'InnovaActivityBundle:Activity:partials/activitybase.html.twig' %}

{% block clicActSpace %}
    <div id="clicWeek4">
{% endblock %}

{% block titleActSpace %}
	Week 4 - Let's Review!
{% endblock %}

{% block listAct %}
    <li class="menuAct"><a href="#week4Doc1" data-toggle="tab" class="week4Doc1"><img src="{{ asset('bundles/innovaactivity/img/document.png') }}" /></a></li>
	<li class="menuAct"><a href="#week4Doc2" data-toggle="tab" class="week4Doc2"><img src="{{ asset('bundles/innovaactivity/img/document.png') }}" /></a></li>
	<li class="menuAct"><a href="#week4Doc3" data-toggle="tab" class="week4Doc3"><img src="{{ asset('bundles/innovaactivity/img/document.png') }}" /></a></li>
	<li class="menuAct"><a href="#week4Doc4" data-toggle="tab" class="week4Doc4"><img src="{{ asset('bundles/innovaactivity/img/document.png') }}" /></a></li>
	<li class="menuAct"><a href="#week4Doc5" data-toggle="tab" class="week4Doc5"><img src="{{ asset('bundles/innovaactivity/img/document.png') }}" /></a></li>
	<li class="menuAct"><a href="#week4Doc6" data-toggle="tab" class="week4Doc6"><img src="{{ asset('bundles/innovaactivity/img/document.png') }}" /></a></li>
{% endblock %}
		
{% block tabAct %}
				<div class="tab-pane active tabDescr">
					<h3>Week 4 - Let's Review!</h3>
					<img src="{{ asset('bundles/innovaactivity/img/util/parcourspass/etape2/week4/entete.jpg') }}" class="imgCorps"/>
					<p>This unit is the time for us to stop for a moment and review the exercises we've done up until now and test ourselves on what we've learned</p>

				</div>
				<div class="tab-pane" id="week4Doc1">
					<h3>Describing people</h3>
						<p>
							Take this test to see how well you can describe people
							<br>
							<a href="#">Séries d’exercices</a>

						</p>
				</div>
				<div class="tab-pane" id="week4Doc2">
					<h3>Past Simple</h3>
						<p>
							Take this test to see how well you remember how to conjugate verbs in the past simple
							<br>
							<a href="#">Séries d’exercices</a>

						</p>
				</div>
				<div class="tab-pane" id="week4Doc3">
					<h3>Shapes  </h3>
						<p>
							Do the quiz to test your knowledge on vocabulary for shapes
							<br>
							<a href="#">Séries d’exercices</a>

						</p>
				</div>
				<div class="tab-pane" id="week4Doc4">
					<h3>In the Classroom quiz </h3>
						<p>
							Do the quiz to test your knowledge on classroom vocabulary
							<br>
							<a href="#">Séries d’exercices</a>

						</p>
				</div>
				<div class="tab-pane" id="week4Doc5">
					<h3>Adjectives</h3>
						<p>
							Learn adjectives for describing people, place and things
							<br>
							<a href="#">Séries d’exercices</a>

						</p>
				</div>
				<div class="tab-pane" id="week4Doc6">
					<h3>Adjectives</h3>
						<p>
							Do the quiz to test your knowledge on vocabulary for positive and negative adjectives
							<br>
							<a href="#">Séries d’exercices</a>

						</p>
				</div>
{% endblock %}
		