{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="span11 offset1">
        <h1>{{ 'Path.entity_plural'|trans }}</h1>
    </div>
</div>

<div class="row">
    <div class="offset4 span8">    
        <table class="records_list table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{ 'Path.field.name'|trans }}</th>
                    <th>{{ 'Path.field.description'|trans }}</th>
                    <th>{{ 'Path.field.is_pattern'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('path_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.ispattern }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="offset11  span1">
        
            <a href="{{ path('path_new') }}" role="button" class="btn">
                {{ 'Generic.create'|trans }}
            </a>

    </div>
</div>

    {% endblock %}
