{% extends '::base.html.twig' %}

{% block body -%}

<div class="container">
    <div class="row">
    <div class="span12">
        <h1>{{ 'Path.entity_create'|trans }}</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <form action="{{ path('path_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-primary">{{ 'Generic.create'|trans }}</button>
        </p>
    </form>


        <a href="{{ path('path') }}" class="btn" role="button">
            {{ 'Path.entity_back_to_the_list'|trans }}
        </a>
    </div>
</div>
</div>




{% endblock %}
